
*{
    background-color: #083b4c;
}
.background{
    background-color: #083b4c;
}

/* BOXES COLOR */
.box{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.non-divisible{
    background-color: #1389b2;
}
.buzz{
    background-color: #ffd166;
}
.fizz{
    background-color: #0cd6a1;
}
.fizz-buzz{
    background-color: #f0466f;

}


/* STYLE */
.h1.h1{
    color: aliceblue;
    font-size: 60px;
}
